.dashboard {
    width: 100%;
    min-height: 200px;
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.dash-total-box {
    width: 20%;
    height: 120px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 7px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 10px;
    margin: 7px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12.5px;
    line-height: 1.3;
}
.head{
    color: #1b1f23cd;
    font-size: 16px;
    font-weight: 500;
}
.number{
    color: #0051ad;
    font-size: 36px;
    font-weight: 600;
}
.second-dash-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tasks{
    width: 40%;
    height: 500px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.task-head{
    width: 90%;
    font-weight: 500;
    border-bottom: 2px solid #1b1f233f;
    color: #0051ad;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:1000px) {
    .dash-total-box {
        width: 42.5%;
    }
    .tasks{
        width: 90%;
    }
}